.menu {
    position: fixed;
    font-size: 28px;
    min-height: 75px;
    background-color: black;
    bottom: 0px;
    left: 0px;
    padding: 4px;
    width: 100%;
    margin: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-app-region: drag;
}

.menuitem:link{
    position: relative;
    text-decoration: none;
    color: white;
    background-color: black;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    transition-duration: 0.2s;
    border-radius: 4px;
    bottom: 0px;
    -webkit-app-region: no-drag;
    
}

.menuitem:link:hover {
    background-color: rgb(20, 20, 20);
    bottom: 5px;
    padding-bottom: 15px;
}

.close {
    height: 50px;
    width: 50px;
    background-color: rgb(20, 20, 20);
    border: 2px solid gray;
    border-radius: 5px;
    right: 18px;
    bottom: 18px;
    position: absolute;
    justify-content: center;
    transition-duration: 0.2s;
    -webkit-app-region: no-drag
}

.close:after {
    position: absolute;
    content: "\274c";
    font-size: 50px; 
    color: #FFF;
    line-height: 50px;
    text-align: center;
    color: transparent;
    transform: scale(0.35) translate(-26px);  
    text-shadow: 0 0 0 lightgray;
    
}

.close:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(1.1);
    cursor: pointer;
}

#loadAnimation {
    animation: removeHover 0.2s forwards;
}

@keyframes removeHover {
    0% {
        background-color: rgb(20, 20, 20);
        bottom: 5px;
        padding-bottom: 15px;
    }
    50% {
        background-color: rgb(20, 20, 20);
        bottom: 5px;
        padding-bottom: 5px;
    }
    100% {
        background-color: rgb(20, 20, 20);
        bottom: 5px;
        padding-bottom: 15px;
    }
}
  
body {
    font-family: 'Roboto', sans-serif;
    user-select: none;
}